
@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
    margin: 1px;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

#section-gal{
  width: 100%;
}






@media screen and (min-width:660px){
 
  
   /* ****** ************************
  HEADER
  ******************************** */
  
  nav {
    font-size: 1.125em;
    text-align:right;
    background:#231F20;
  
  }
  
  #logo {
    text-align:left;
    width:45%;
  }

  .profile-photo {
    
    margin: 20px auto 30px;
    border-radius:100%;
  }
 
 #section-about{
    text-align: center;
  
 }

  
  h1{
    font-size:2.5em;
  }
  
  /*logo teksten*/
  h2{
    font-size:0.825em;
    margin-bottom:20px;
  }
  
  header{
    margin: 0 0 6px 0; 

    background:#EAEAEA; /*farge på bakgrunnen*/
    border-color:#599a68; /*farge på linktesksten*/
  }
  
  
}



@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
 
  }
  

}